.running {
  color: gold;
}

.failed {
  color: red;
}

.completed {
  color: green;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.container {
  display: flex;
  flex-direction: column;
}

.addBtn {
  align-self: flex-end;
  /*margin-top: -54px;*/
  margin-top: auto;
}

.upgradeAll {

  align-self: flex-start;
  /*margin-top: auto;*/
}

.display-content > tbody > tr > td {
  vertical-align: middle;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}
